<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="block-month col-3">
                Januar
            </div>
            <div class="block-month col-3">
                Februar
            </div>
            <div class="block-month col-3">
                März
            </div>
            <div class="block-month col-3">
                April
            </div>
            <div class="block-month col-3">
                Mai
            </div>
            <div class="block-month col-3">
                Juni
            </div>
            <div class="block-month col-3">
                Juli
            </div>
            <div class="block-month col-3">
                August
            </div>
            <div class="block-month col-3">
                September
            </div>
            <div class="block-month col-3">
                Oktober
            </div>
            <div class="block-month col-3">
                November
            </div>
            <div class="block-month col-3">
                Dezember
            </div>
        </div>
    </div>
</div>